* { /*limpar os espaços padrão que o navegador dá aos elementos do html*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
body{
    background-position: top center; /*centralizar a imagem de fundo*/
    background-size: 100% auto; /* para ficar em 100% da largura da tela independente*/
    background-repeat: no-repeat; /* para não repetir a imagem de fundo na página*/
    /*background-image: linear-gradient(#9572FC 0%,#141418 100%);*/
    background-color: #000000;
}
body *{
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}
header{
    text-align: center; /*alinhar a imagem no centro da página pois a img tem propriedades de texto*/
    padding-top: 32px;
    height: calc(120px + 32px);
}
header div{
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #fd003f 0%, #0004ff 50.52%, #ecd60a 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform .3s;
}
header div:hover {
    transform: scale(1.1);
    
}
header div img{
    border-radius: 50%;
    width: 100%;   
}
main{
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: grid;
    gap: 24px;
}
section{
    color: white;
    background-image: linear-gradient(90deg, #fd003f 0%, #0004ff 50.52%, #ecd60a 100%);
    padding-top: 4px;
    border-radius: 10px;
}
section div{
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;

}
section h2{
    letter-spacing: -0.47px;
}
section p{
    letter-spacing: -0.18px;
    color: #A1A1AA;
}
section ul{
    display: flex;
    gap: 16px; /*espaço entre os itens na lista, só funfa com display: flex*/
    margin-top: 24px;
    /*flex-wrap: wrap;*/
}
section ul li {
    transition: transform .3s;
}
section ul li:hover {
    transform: scale(1.1);
}
.game-list img{
    width: 90%;
    border-radius: 8px;
}
.channel-list img{
    border-radius: 50%;
    width: 70px;
    border: 1px solid #443E54;
}

/* animation */

header div {
    animation: fromTop .7s .4s backwards;
}
main section{
    animation: fromBottom .7s backwards;
}
main section:nth-child(1) {
    animation-delay: .0s;
}
main section:nth-child(2){
    animation-delay: .4s;
}
main section:nth-child(3){
    animation-delay: .8s;
}
@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px); /*animação de cima para baixo*/
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px); /*animação de baixo para cima dos cards*/
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}